---
layout: default
---

<div class="container">
    {% include "partials/vcard.njk" %}  
</div>
<div class="container">
    {{ author.about | localize }}
</div>
<div class="container">
    {% include "partials/resume/experience.njk" %}  
</div>
<div class="container">
    {% include "partials/resume/projects.njk" %}  
</div>
<div class="container">
    {% include "partials/resume/skills.njk" %}  
</div>
<div class="container">
    {% for interest in author.interests | localize %} 
        {{ interest }}
    {% endfor %}
</div>