<div class="my-2 mt-2 content-evenly">
    <h1 class="text-3xl pt-8 lg:pt-0 my-1 mt-5 ml-3 border-b border-highlight">{{ strings.education | localize }}</h1>
    <ul class="list-none">
    {% for edu in (education | sortByEndDate) %}
        <li class="border-l border-highlight">
            <div class="tracking-wide w-3/4 ml-2 mb-5">
                <span class="italic text-base uppercase">
                    {{ edu.start | dateToFormat("LLL yyyy") }} - {{ edu.end | dateToFormat("LLL yyyy") }}
                </span>

                <h2 class="text-2xl text-highlight">
                    {{ edu.title | localize }}
                </h2>
                <span class="italic">{{ edu.institute | localize }}</span>
                <p>{{ edu.description | localize }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>