<div class="grid grid-cols-2 gap-4">
  <div>
    <h1 class="text-3xl pt-8 lg:pt-0 my-1 mt-5 ml-3 border-b border-highlight">
        {{ strings.skills | localize }}
    </h1>
    <ul class="list-none">
      {% for skill in author.skills %}
            <div class="text-lg tracking-wide w-3/4 mb-2">
                <li class="pl-3 border-l border-highlight">{{ skill | localize }}</li>
            </div>
        {% endfor %}
    </ul>
  </div>

  <div class="flex flex-col">
    <h1 class="px-2 text-3xl pt-8 lg:pt-0 my-1 mt-5 ml-3 border-b border-highlight">
        {{ strings.languages | localize }}
    </h1>
    <ul class="mb-4 list-none">
      {% for language in languages | localize %}
            <div class="text-lg tracking-wide w-3/4 mb-2">
                <li class="pl-3 border-l border-highlight">{{ language.name }} ({{ language.fluency }})</li>
            </div>
        {% endfor %}
    </ul>
    <h1 class="text-3xl pt-8 lg:pt-0 my-1 mt-5 ml-3 border-b border-highlight">
        {{ strings.interests | localize }}
    </h1>
    <ul>
      {% for interest in author.interests | localize %}
            <div class="text-lg tracking-wide w-3/4 mb-2">
                <li class="pl-3 border-l border-highlight">{{ interest }}</li>
            </div>
        {% endfor %}
    </ul>
  </div>
</div>