---
layout: default
permalink: index.html
lang: en
---
<p>Redirecting to your language...</p>
<script>
    {% set js %}
        {% include "./../src/assets/js/redirect_language.js" %}
    {% endset %}
    {{ js | minifyJs | safe }}
</script>
<p>If redirect takes longer than five seconds, please select your preferred language from the top bar.</p>