<div class="ml-0 mx-auto bg-vcard_bg rounded-xl shadow-md overflow-hidden max-w-xl md:max-w-4xl">
    <div class="md:flex">
        <div class="md:flex-shrink-0">
            {%- set avatarUrl -%}/assets/img/{{ author.avatar }}{% endset %}
            <img class="h-48 w-full object-cover md:w-48 md:text-center rounded-xl" src="{{ avatarUrl }}" alt="{{ author.name }}">
        </div>
        <div class="p-8">
            <div class="block mt-1 text-4xl leading-tight font-medium text-black">
                {{ author.name }}
            </div>
            <div class="uppercase tracking-wide text-sm text-highlight font-semibold">
                {{ author.occupation | localize }} · {{ author.location | localize }}
            </div>
            <div class="flex flex-wrap">
                <div class="mt-2 text-gray-500 w-1/2">
                    <a class="xorencoded inline-flex hover:underline" aria-label="E-mail" href="{{ ("mailto:" + author.email) | xor }}" rel="nofollow, noindex">{% include "icons/email.svg" %} {{ author.email | obfuscate | safe }}</a>
                </div>
                <div class="mt-2 text-gray-500 w-1/2">
                    <a class="inline-flex hover:underline" aria-label="Telephone" href="tel:{{ author.phone | stripSpaces }}">{% include "icons/telephone.svg" %} {{ author.phone }}</a>
                </div>
                <div class="mt-2 text-gray-500 w-1/2">
                    <a class="inline-flex hover:underline group" aria-label="Website" href="{{ author.website }}" target="_blank">{% include "icons/laptop.svg" %} {{ author.website | stripProtocol }}
                    <span class="invisible group-hover:visible">
                            {%include "icons/new-window.svg" %}
                    </span>
                    </a>
                </div>
                {% for s in social %}
                    <div class="mt-2 text-gray-500 w-1/2">
                        <a class="inline-flex hover:underline group" href="{{ s.url }}" target="_blank">{% include ("icons/" + s.name + ".svg") %} {{ s.user }}
                        <span class="invisible group-hover:visible">
                            {%include "icons/new-window.svg" %}
                        </span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>