<footer class="mt-20 px-10 py-8 bg-{{ theme.footer_bg }} print:invisible">
    <div class="max-w-5xl mx-auto text-slate-700 text-center">
        <div class="font-medium">{{ site.description | localize }}</div>
    </div>
    <!-- Made by {{ author.name }} ({{ author.homepage | url }}) using Eleventy (https://www.11ty.dev) and Tailwind CSS (https://tailwindcss.com) -->
</footer>